@import "tailwindcss";
@import "tw-animate-css";


@theme {
  --color-bankdash-primary: #1814F3;
  --color-bankdash-secondary: #16DBCC;
  --color-bankdash-tertiary: #FE5C73;
  --color-bankdash-accent: #FC7900;
  --color-bankdash-background: #fff;
  --color-bankdash-text: #343C6A;
  --color-bankdash-text-secondary: #718EBF;
  --color-bankdash-border: #E0E0E0;
  --color-bankdash-success: #41D4A8;
  --color-bankdash-warning: #FFC107;
  --color-bankdash-error: #FF4D4F;
  --color-bankdash-chart-1: #1814F3;
  --color-bankdash-chart-2: #FC7900;
  --color-bankdash-chart-3: #343C6A;
  --color-bankdash-chart-4: #FA00FF;
  --color-bankdash-backgroundside: #E6EFF5;
  --color-bankdash-gradiant: linear-gradient(90deg, #0A06F4 0%, #4C49ED 100%);
  --background-bank-gradient: linear-gradient(90deg, #0A06F4 0%, #4C49ED 100%);
  --color-bankdash-card-primary: linear-gradient(90deg, #0A06F4 0%, #4C49ED 100%);
  --color-bankdash-card-secondary: #DFEAF2;
  --width-bankdash-side: 250px;
  --filter-bank-primary: invert(12%) sepia(94%) saturate(6543%) hue-rotate(244deg) brightness(92%) contrast(100%);


}

@layer base {}



@layer utilities {
  .icon-active-blue {
    filter: invert(8%) sepia(99%) saturate(6628%) hue-rotate(249deg) brightness(103%) contrast(119%);
  }

  .icon-muted {
    filter: invert(53%) sepia(8%) saturate(1008%) hue-rotate(187deg) brightness(91%) contrast(90%);
  }

  .text-bank-gradiant {
    background: var(--color-bankdash-gradiant);


    -webkit-background-clip: text;
    background-clip: text;


    -webkit-text-fill-color: transparent;
    color: transparent;

    background-size: 100%;
    display: inline-block;
  }
}

@layer component {

  .debit-card-theme {
    background: var(--color-bankdash-card-primary);

  }

  .debit-card-theme .credit-card-theme {
    background: var(--color-white)
  }
}